.admin-orders h2{
    text-align: center;
}

.admin-orders table{
    margin: 0 auto;
}

.admin-orders table td{
    padding: 10px;
}

.admin-orders table,tr,td,th{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 20px;
}

.admin-orders th{
    background-color: yellow;
}

.order-completed{
    background-color: rgb(99, 251, 99);
}

.order-cancelled{
    background-color: rgb(232, 72, 72);
}

.order-pending{
    background-color: rgb(109, 133, 254);
}