.admin-panel{
    display: flex;
    gap: 10px;
}

.admin-panel a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 33.3%;
    height: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.admin-panel a:hover{
    background-color: aliceblue;
}