
.admin-products table,td,th{
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
}

.admin-products table{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.admin-products table td,th{
    font-size: x-large;
    padding: 10px;
}

.admin-products td img{
    width: 60px;
}

.admin-add-product{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 50px;
    width: 20%;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    margin-top: 10px;
}

.admin-add-product:hover{
    background-color: aliceblue;
}