.admin-categories h2{
    text-align: center;
}

.admin-categories table{
    margin: 0 auto;
}

.admin-categories form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.admin-categories,input{
    display: block;
}
