.admin-categories h2{
    text-align: center;
}

.alert-error{
    color: red;
    text-align: center;
    margin-top: 10px;
}

.admin-categories table{
    margin: 0 auto;
}

.admin-categories form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.admin-categories input{
    display: block;
}


