.cart-div table tr td img{
    max-width: 100px;
}

.cart-title{
    text-align: center;
    font-size: xx-large;
    margin-top: 10px;
}

.cart-div table tr td a{
    text-decoration: none
}

.cart-checkout{
    display: flex;
    justify-content: center;
    
}

.cart-checkout form input{
    display: block;
    margin-bottom: 10px;
    gap: 30px;
}

.cart-checkout button{
    margin-right: 10px;
    margin-bottom: 20px;
}

.total-div{
    display: flex;
    justify-content: flex-end;
}

#total{
    font-weight: bolder;
}

.old-price{
    text-decoration: line-through;
}

