* {
  box-sizing: border-box;
}

html,body{
    margin: 0;
    padding: 0;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

.header-link{
    text-decoration: none;
    color: black;
}

main,.header-div,.footer-content{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-div,.footer-content{
    display: flex;
    justify-content: space-between;
    
}

.phone,.email,.cart,.login,.logout,.register,.my-account,.orders{
    margin-top: 15px;
}

.header-left,.header-right{
    display: flex;
    gap: 20px;
    
}


header{
    width: 100%;
    height: 50px;
    background-color: white;
}

nav{
    width: 100%;
    background-color: rgba(29, 27, 27, 0.998);
    color: white;
    
}

.nav-div{
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo{
    text-align: left;
}

.logo img{
    width: 40%;
    margin: 0 auto;
    
}

.footer-div{
    width: 100%;
    background-color: rgba(29, 27, 27, 0.998);;
    color: white;
}

.logout-btn{
    background: none;
    border: none;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    font: inherit;
}