* {
  box-sizing: border-box;
}

html,body{
    margin: 0;
    padding: 0;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}


main,.header-div,.nav-div,.footer-content{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-div,.nav-div,.footer-content{
    display: flex;
    justify-content: space-between;
}

.phone,.email,.cart,.login,.register{
    margin-top: 15px;
}

.header-left,.header-right,.nav-left{
    display: flex;
    gap: 20px;
}

header{
    width: 100%;
    height: 50px;
    background-color: white;
}

nav{
    width: 100%;
    background-color: black;
    height: 75px;
    color: white;
    
}

.logo{
    margin-top: 30px;
    font-size: large;
}

.footer-div{
    width: 100%;
    background-color: black;
    color: white;
}