.register-div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.register-form{
    width: 300px; 
}

.register-form form input{
    display: block;
    width: 100%;             
    padding: 12px 15px;       
    margin-bottom: 15px;      
    border: 1px solid #ccc;   
    border-radius: 8px;       
    font-size: 16px;           
    transition: all 0.3s;    
    box-sizing: border-box;
}

.register-form form input:focus {
    border-color: #007BFF;    
    box-shadow: 0 0 5px rgba(0,123,255,0.5);
    outline: none;
}

.register-form form button {
    width: 60%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #820101;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.register-form form button:hover {
    background-color: #c00026;
}

.register-form p {
    font-size: 26px;           
    font-weight: 600;          
    color: #333;               
    text-transform: uppercase; 
    margin-bottom: 20px;       
    letter-spacing: 1px;       
    font-family: 'Arial', sans-serif; 
}


.register-errors ul{
    text-align: left;
}

.register-errors li{
    margin-bottom: 5px;
}